<div class="col-md-6 col-lg-4 mx-auto mt-5">
  <div class="card shadow-sm form-container">
    <div class="card-body">
      <h5 class="card-title mb-4 text-center">Forgotten Password</h5>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onPasswordReset()">
        <div class="form-group mb-3">
          <label for="code">Reset Code:</label>
          <input
            type="number"
            id="code"
            class="form-control"
            formControlName="code"
            required
            (blur)="validationService.onBlur('code')"
          />
          <div
            *ngIf="validationService.isFieldInvalid('code')"
            class="text-danger mt-1"
          >
            {{ validationService.getErrorMessage("code") }}
          </div>
          <div *ngIf="resetPasswordForm.get('code')?.errors?.['resetCodeNotFound']">
            Reset code not found!
          </div>
          
          <label for="newPassword">New Password:</label>
          <input
            type="password"
            id="newPassword"
            class="form-control"
            formControlName="newPassword"
            required
            (blur)="validationService.onBlur('newPassword')"
          />
          <div
            *ngIf="validationService.isFieldInvalid('newPassword')"
            class="text-danger mt-1"
          >
            {{ validationService.getErrorMessage("newPassword") }}
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="resetPasswordForm.invalid"
          >
            Reset Password
          </button>
        </div>
        <!-- <div *ngIf="message" class="alert alert-info mt-3 text-center">
          {{ message }}
        </div>
        <div *ngIf="error" class="alert alert-danger mt-3 text-center">
          {{ error }}
        </div> -->
      </form>
    </div>
  </div>
</div>
