#forgottenPsw{
    margin-top: 6px;
    color: blue;
    font-weight: 800;
    font-size: 21px;
    cursor: pointer;
}

#forgottenPsw:hover{
    text-decoration: underline;
}

p#registerP{
    text-align: center;
    color: white;
    font-size: 23px;
    cursor: pointer;
}

#registerLink{
    text-decoration: none;
    color: magenta;
    font-weight: 800;
}

#registerLink:hover{
    text-decoration: underline;
}
