<hr/>
<h2>Best-selling albums:</h2>

<div class="album-wrapper">
  <div class="album-container">

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

    <div
      *ngFor="let album of gold_albums; trackBy: trackById"
      class="album-card"
    >
      <a [routerLink]="['/albums-list']" [queryParams]="{ band: albumService.encode(album.artist) }">
        <div
          class="albumImg-wrapper"
          [ngStyle]="{
            'border-color': albumService.getBorderColor(album.rank)
          }"
        >
          <img
            class="albumImg"
            [src]="album.cover_img_url + '?t=' + timestamp"
            alt="{{ album.title.toLowerCase() }}"
          />
        </div>
      </a>
      <div class="caption">{{ album.title }}</div>
    </div>

    <ng-template #noAlbums>
      <p>No albums available.</p>
    </ng-template>
    
  </div>
</div>
