<div id="topDiv" class="flex-center">
  <button
    type="button"
    class="btn"
    id="addBtn"
    routerLink="/admin/add-album"
    style="background-color: green"
  >
    Add album
  </button>
</div>
<div class="album-wrapper">
  <div class="album-container">
    <div *ngFor="let album of albums" class="album-card">
      <a
        [routerLink]="['/albums-list']"
        [queryParams]="{ band: albumService.encode(album.artist) }"
      >
        <div
          class="albumImg-wrapper"
          [ngStyle]="{
            'border-color': albumService.getBorderColor(album.rank)
          }"
        >
          <img
            class="albumImg"
            [src]="album.cover_img_url + '?t=' + timestamp"
            alt="{{ album.title }}"
          />
        </div>
      </a>

      <div class="album-info">
        <h3 *ngIf="!isEditing(album._id)">{{ album.title }}</h3>
        <div *ngIf="isEditing(album._id)" class="flex-div">
          <label for="title" class="edit-label">Title:</label>
          <input
            type="text"
            id="title"
            [(ngModel)]="album.title"
            class="form-control edit-input"
            placeholder="Album Title"
          />
        </div>

        <div *ngIf="!isEditing(album._id)" class="caption-line">
          Release Date: {{ album.release_date }}
        </div>
        <div *ngIf="isEditing(album._id)" class="flex-div">
          <label for="releaseDate" class="edit-label">Release Date:</label>
          <input
            type="date"
            id="releaseDate"
            [(ngModel)]="album.release_date"
            class="form-control edit-input"
            placeholder="Release Date"
          />
        </div>

        <div *ngIf="isEditing(album._id)" class="flex-div">
          <label for="cover URL" class="edit-label">Cover URL:</label>
          <input
            type="url"
            id="coverURL"
            [(ngModel)]="album.cover_img_url"
            class="form-control edit-input"
            placeholder="Cover URL"
          />
        </div>

        <div *ngIf="!isEditing(album._id)" class="caption-line">
          Genre: {{ album.genre }}
        </div>
        <div *ngIf="isEditing(album._id)" class="flex-div">
          <label for="genre" class="edit-label">Genre:</label>
          <input
            type="text"
            id="genre"
            [(ngModel)]="album.genre"
            class="form-control edit-input"
            placeholder="Genre"
          />
        </div>

        <div *ngIf="!isEditing(album._id)" class="caption-line">
          {{ albumService.getProducersString(album.producers) }}
        </div>
        <div *ngIf="isEditing(album._id)">
          <label for="producers" class="edit-label">Producers (comma separated):</label>
          <textarea
            id="producers"
            [value]="album.producers.join(', ')"
            [(ngModel)]="producersString"
            (ngModelChange)="onProducersChange(album)"
            class="form-control edit-input"
          ></textarea>
        </div>

        <div
          class="album-menu d-flex justify-content-center align-items-center"
        >
          <button
            type="button"
            id="editBtn"
            class="btn album-btn"
            [style.background-color]="isEditing(album._id) ? 'green' : 'blue'"
            (click)="toggleEdit(album._id)"
          >
            {{ isEditing(album._id) ? "Save" : "Edit" }}
          </button>
          <button
            type="button"
            class="btn album-btn"
            style="background-color: red"
            (click)="deleteAlbum(album._id)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
