<div class="col-md-6 col-lg-4 mx-auto mt-5">
  <div class="card shadow-sm form-container">
    <div class="card-body">
      <h5 class="card-title mb-4 text-center">Forgotten Password</h5>
      <form [formGroup]="forgotForm" (ngSubmit)="onSendResetCode()">
        <div class="form-group mb-3">
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            class="form-control"
            formControlName="email"
            [appValidationMessage]="'email'"
            required
            (blur)="formHelperService.onBlur('email')"
          />
        </div>
        <div class="d-flex justify-content-center">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="forgotForm.invalid"
          >
            {{ codeStatus.valueOf() === "sending" ? "Sending..." : "Send Reset Link" }}
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
